{% extends 'template.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block titrePage %}
Bienvenue sur la page d'accueil de Prostages
{% endblock %}

{% block contenuPage %}
<div class="card-deck">
  <div class="card">
    <a href={{path('proStage_stages_id',{id:5})}}>
    <img class="card-img-top" src="{{asset('/img/slider1.jpg')}}">
    <div class="card-body">
      <h5 class="card-title">Stages de l'id 5</h5>
      <p class="card-text">Cet étudiant ne possède aucun stage pour le moment.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href={{path('proStage_stages_id',{id:21})}}>
    <img class="card-img-top" src="{{asset('/img/slider2.jpg')}}">
    <div class="card-body">
      <h5 class="card-title">Stages de l'id 21</h5>
      <p class="card-text">Cet étudiant ne possède aucun stage pour le moment.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <a href={{path('proStage_stages_id',{id:3})}}>
    <img class="card-img-top" src="{{asset('/img/slider3.jpg')}}">
    <div class="card-body">
      <h5 class="card-title">Stages de l'id 3</h5>
      <p class="card-text">Cet étudiant ne possède aucun stage pour le moment.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
{% endblock %}
